<p id="notice"><%= notice %></p>

<h1>Listing Artists</h1>

<%= link_to new_artist_path do %>
  <i class="fa fa-plus-square-o" aria-hidden="true"></i> New Artist
<% end %>

<br/>
  <div class="row">
    <% @artists.each do |artist| %>
      <div class="col-md-6">
        <div class="well">
          
          <h3><%= link_to artist.name[0..23], artist %></h3>
          <h4><%#= artist.song.name %></h4>
          <p>
            <%# song.rating.to_i.times do %>
              <i class="fa fa-star-o yellow" aria-hidden="true"></i>
            <%# end %>
          </p>
         
           <p>
            <%= link_to edit_artist_path(artist) do %>
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit 
            <% end %> 
            <%= link_to artist, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <i class="fa fa-minus-square-o" aria-hidden="true"></i> Destroy
            <% end %>
           </p>
        </div>
      </div>
    <% end %>
  </div>
